<!DOCTYPE html>
<html  ⚡ lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="author" content= <%= allData.items[index]['author-name'] %>>
    <meta name = "news keywords" content = <%= allData.items[index].seo["meta-keywords"] %>>
    <meta name = "description" content = <%= allData.items[index].seo["meta-description"] %>>
    <meta name = "title" content=<%= allData.items[index].seo["meta-title"] %>>
    <meta name = "keywords" content= <%= allData.items[index].seo["meta-keywords"] %>>

    <!-- open graph og generator -->
    <meta property="og:type" content="article">
    <meta property = "og:title" content= <%= allData.items[index]['headline'] %> >
    <meta property = "og:url" content = <%= allData.items[index]['slug'] %>>
    <meta property = "og:image" content = <%= allData.items[index]['hero-image-metadata']["file-name"] %>>
    <meta property="og:image:width" content = "1200" >
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content=<%= allData.items[index]['hero-image-attribution'] %>>

     <!-- twitter graph  -->
     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:title" content=  <%= allData.items[index]['headline'] %> >
     <meta name="twitter:image" content = <%= allData.items[index]['hero-image-metadata']["file-name"] %>>
     <meta property="twitter:image:alt" content=  <%= allData.items[index]['hero-image-attribution'] %>>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <title>Document</title>
    

    <link rel="canonical" href="http://localhost:8000/temp">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

</head>
<body>
   
    <amp-story  standalone
    poster-portrait-src="<%= baseUrl+encodeURIComponent(allData.items[index]["hero-image-s3-key"]) %>"
    publisher-logo-src="https://quintype-dropbox.s3-accelerate.amazonaws.com/prabhatkhabar.quintype.com/2020-02-26/1232/logo_512.png"
    title="Joy of Pets"
    publisher="PROJECT AMP_WEBSTORIES"
    >
        

        <amp-story-page id="cover" >
            <amp-story-grid-layer template="fill">
                <amp-img src="<%=baseUrl+encodeURIComponent(allData.items[index]["hero-image-s3-key"]) %>"
        width="720" height="1280"
        layout="responsive"
        alt="">
    </amp-img>
                
            </amp-story-grid-layer>
            <amp-story-grid-layer template="thirds">
                <amp-img width = "67" height = "67" layout = "fixed" grid-area="upper-third" src = "https://quintype-dropbox.s3-accelerate.amazonaws.com/prabhatkhabar.quintype.com/2020-02-26/1232/logo_512.png" style="border-radius: 10px;"></amp-img>
                <h1  style="color: white; font-weight: 500; font-size: 32px;" grid-area="lower-third"><%= headlineCover %></h1>
                <p  style="color: white; margin-top: auto;" grid-area="lower-third"><%= ownerNameCover %></p>
              </amp-story-grid-layer>
        </amp-story-page>


    <% for (let indexOfPage = 0; indexOfPage < allData.items[index].cards.length; indexOfPage++) { %>
        <amp-story-page id="page<%= indexOfPage + 1 %>" >
            <amp-story-grid-layer template="fill">
                <amp-img src="<%=baseUrl+ encodeURIComponent(allData.items[index].cards[currentCardIndexImage++]["story-elements"][0]['image-s3-key']) %>"
        width="720" height="1280"
        layout="responsive"
        alt="">
    </amp-img>    
            </amp-story-grid-layer>

            <amp-story-grid-layer template="thirds">
                <amp-img width = "67" height = "67" layout = "fixed" grid-area="upper-third" src = "https://quintype-dropbox.s3-accelerate.amazonaws.com/prabhatkhabar.quintype.com/2020-02-26/1232/logo_512.png" style="border-radius: 10px;"></amp-img>
                    <div grid-area="lower-third" style="background-color: black; transform: skewY(5deg); margin-top: auto; width: 403px;     ">
                <p style="color: white; font-weight: 600; transform: skewY(-5deg); font-size: 23px;" ><%= allData.items[index].cards[currentCardIndexHeadline++]["story-elements"][1].text %></p>
                <p style="margin-top: 3px; color: white; transform: skewY(-5deg); font-weight: 100; font-size: 16px;"  ><%= allData.items[index].cards[currentCardIndexInfo++]["story-elements"][2].text %></p>
                <p grid-area="lower-third" style="margin-top: auto; margin-left: 140px; font-size: 15px; color: white; transform: skewY(-5deg);"><%= allData.items[index].cards[0]["story-elements"][0].title %> | <%= allData.items[index].cards[0]["story-elements"][0]['image-attribution'] %></p>
        </div>
            </amp-story-grid-layer>
        </amp-story-page>
        <% } %>


    </amp-story>



    
</body>
</html>